body {
	font-family: 'Istok Web', sans-serif;
}
.navbar {
	background-color: #775ba3;
}
.nav-item a {
	font-size: 16px;
	text-transform: uppercase;
}

.far.fa-user  {
	color: #fff;
}

.caption {
	font-size: 40px;
	color: #775ba3;
}

.maintext {
	color: #4b3f55;
}

.h1text {
	font-size: 23px;
}

.footer {
	background-color: #775ba3;
}

.footer p {
	line-height: 60px;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	text-align: center;
}


